*.zip
codif/*
Fasta*.json
main*.json
model_inputs/BV_BRC_16S*.json
model_inputs/16S_metadata*.json
16S_metadata*.json
model_inputs/*md5*json
features*/*
genomes*/*
alignments*/*
modeling_files/best_matches.json
modeling_files/*probabilities.json
*/*/ID_md5*.json
*/*.ipynb_checkpoints*/*
genome_metadata/*
models/*
gapfilled_models/*
gapfilled_models2/*
comm_models/*
*log
*_old*
